<div>
  <h1>
    About Calvin News
  </h1>
  <h2>
    Created by Noah Madrid for CS 336 at Calvin University.
  </h2>
  <p>
    Calvin News seeks to supplement the current Student News system using a website with a cleaner more
    user friendly design. Users of this website would be able to filter out the articles that they find
    uninteresting or unimportant as well as sort by the subjects they are interested in. Added functionality
    would also include searching based on terms and time range. Calvin News would not seek to replace the
    emails, but rather add a cleaner news outlet for any who are interested.


    It uses the REST API created by the Calvin News App team of Software Engineering CS 262 at Calvin University
    which can be accessed <a href="https://github.com/calvin-cs262-fall2020-teamc/calvin-news-service">here</a>.
  </p>
</div>