*{
    font-family: 'Merriweather';
}

.container{
    height:73vh;
    overflow: hidden;
}

.title{
    font-weight: bold;
    font-size: 23px;
}

.date{
    font-family: 'Courier Prime';
}

.author{
    font-weight: bold;
}

.infiniteScroll{
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.favorite{
    margin-left:auto;
}

mat-spinner{
    margin: 0 auto;
}

.mat-radio-button{
    margin-left: 10px;
}