html, body { height: 100%; min-width: 500px; min-height: 800px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: 'IM Fell Double Pica';
    src: url(/assets/fonts/IMFellDoublePica-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Judson';
    src: url(/assets/fonts/Judson-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Courier Prime';
    src: url(/assets/fonts/CourierPrime-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Merriweather';
    src: url(/assets/fonts/Merriweather-Regular.ttf) format("truetype");
}
.material-icons{
    font-family: 'Material Icons' !important;
}
