@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Judson", sans-serif;');

@include mat-core($custom-typography);

$my-custom-primary: mat-palette($mat-grey, 50);
$my-custom-accent: mat-palette($mat-grey, 800, 700, 900);
$my-custom-warn: mat-palette($mat-red);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
$my-custom-theme-dark: mat-dark-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

.theme-dark {
  @include angular-material-theme($my-custom-theme-dark);
}

.theme-light {
  @include angular-material-theme($my-custom-theme);
  mat-card{
    background-color: #EAEAEA !important;
  }
}